<h1><%= @recepy.title %></h1>

<div>
    <strong>Preparation time: </strong>
    <span><%= @recepy.preparation_time %></span>
</div>

<div>
    <strong>Portions: </strong>
    <span><%= @recepy.portion %></span>
</div>